In [1]:
import numpy as np
import pandas as pd
from scipy import stats

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
jan = pd.read_csv('202101-capitalbikeshare-tripdata.csv')

In [10]:
jan.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,13A48BD20CC3DD85,classic_bike,2021-01-08 17:58:48,2021-01-08 18:25:23,Connecticut Ave & Yuma St NW,31318.0,Georgia Ave & Emerson St NW,31405.0,38.947156,-77.065115,38.949662,-77.027333,casual
1,CA68C580B32EEE66,electric_bike,2021-01-08 22:05:51,2021-01-08 22:23:52,8th & D St NW,31270.0,14th & D St SE,31663.0,38.894804,-77.023091,38.884053,-76.986043,member
2,5A925307814D5C2B,classic_bike,2021-01-21 17:20:31,2021-01-21 17:23:24,Wilson Blvd. & N. Vermont St.,31926.0,George Mason Dr & Wilson Blvd,31036.0,38.879477,-77.114563,38.878870,-77.120700,member
3,B6B2DB54A2B233EE,classic_bike,2021-01-28 10:06:30,2021-01-28 10:20:54,Franklin St & S Washington St,31907.0,Braddock Rd Metro,31047.0,38.798133,-77.048700,38.814577,-77.052808,member
4,921A142D5C8A9759,classic_bike,2021-01-11 12:09:45,2021-01-11 12:20:15,St. Asaph & Montgomery St,31931.0,Braddock Rd Metro,31047.0,38.814185,-77.043809,38.814577,-77.052808,casual

In [6]:
jan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100070 entries, 0 to 100069
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             100070 non-null  object
 1   rideable_type       100070 non-null  object
 2   started_at          100070 non-null  object
 3   ended_at            100070 non-null  object
 4   start_station_name  89963 non-null   object
 5   start_station_id    89963 non-null   float64
 6   end_station_name    88688 non-null   object
 7   end_station_id      88688 non-null   float64
 8   start_lat           100070 non-null  float64
 9   start_lng           100070 non-null  float64
 10  end_lat             99913 non-null   float64
 11  end_lng             99913 non-null   float64
 12  member_casual       100070 non-null  object
dtypes: float64(6), object(7)
memory usage: 9.9+ MB

In [7]:
jan.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    10107
start_station_id      10107
end_station_name      11382
end_station_id        11382
start_lat                 0
start_lng                 0
end_lat                 157
end_lng                 157
member_casual             0
dtype: int64

In [8]:
jan.describe()

,start_station_id,end_station_id,start_lat,start_lng,end_lat,end_lng
count,89963.000000,88688.000000,100070.000000,100070.000000,99913.000000,99913.000000
mean,31364.762036,31366.006044,38.907127,-77.031105,38.906055,-77.030925
std,259.424599,258.843521,0.027526,0.031659,0.027365,0.031627
min,31000.000000,31000.000000,38.782633,-77.368416,38.720000,-77.370000
25%,31201.000000,31202.000000,38.894832,-77.044400,38.894758,-77.044400
50%,31276.000000,31275.000000,38.905697,-77.031737,38.905424,-77.031737
75%,31606.000000,31606.000000,38.919018,-77.013769,38.917200,-77.013500
max,32901.000000,32901.000000,39.123330,-76.825533,39.123513,-76.825535

In [11]:
# January - Kind of user
jan['member_casual'].value_counts(ascending=False)

member    66683
casual    33387
Name: member_casual, dtype: int64

In [12]:
# January - Kind of bike
jan['rideable_type'].value_counts(ascending=False)

classic_bike     68687
electric_bike    26776
docked_bike       4607
Name: rideable_type, dtype: int64

In [21]:
# January - Start station name
jan['start_station_name'].value_counts(ascending=False).head(60)

15th & P St NW                                         1183
New Hampshire Ave & T St NW                            1117
14th & Irving St NW                                    1065
1st & M St NE                                           922
8th & O St NW                                           880
14th & V St NW                                          861
11th & M St NW                                          836
Thomas Circle                                           804
5th & K St NW                                           794
Adams Mill & Columbia Rd NW                             732
15th & Euclid St  NW                                    729
20th St & Florida Ave NW                                710
Eastern Market Metro / Pennsylvania Ave & 8th St SE     699
14th & R St NW                                          698
15th & W St NW                                          684
3rd & M St NE                                           675
17th & Corcoran St NW                                   666
14th & Rhode Island Ave NW                              664
4th & M St SW                                           651
Lamont & Mt Pleasant NW                                 641
5th St & Massachusetts Ave NW                           627
3rd & H St NE                                           626
16th & Harvard St NW                                    622
14th & Belmont St NW                                    620
6th & H St NE                                           619
22nd & I St NW / Foggy Bottom                           607
Massachusetts Ave & Dupont Circle NW                    598
4th St & K St NW                                        576
New Hampshire Ave & Ward Pl NW                          574
18th St & Wyoming Ave NW                                571
Columbia & Ontario Rd NW                                570
4th St & Madison Dr NW                                  568
1st & K St SE                                           540
Park Rd & Holmead Pl NW                                 531
Lincoln Memorial                                        529
14th & Newton St NW                                     511
Columbia Rd & Belmont St NW                             502
25th St & Pennsylvania Ave NW                           494
11th & Girard St NW                                     494
18th & New Hampshire Ave NW                             494
Jefferson Dr & 14th St SW                               490
23rd & M St NW                                          489
California St & Florida Ave NW                          488
10th & Florida Ave NW                                   483
12th & L St NW                                          471
3rd & Elm St NW                                         463
11th & Park Rd NW                                       456
7th & T St NW                                           452
New Hampshire Ave & 24th St NW                          451
Columbus Circle / Union Station                         449
18th & R St NW                                          449
Lincoln Park / 13th & East Capitol St NE                448
Convention Center / 7th & M St NW                       447
M St & Pennsylvania Ave NW                              445
Henry Bacon Dr & Lincoln Memorial Circle NW             443
1st & Rhode Island Ave NW                               440
4th St & G St SW                                        440
Eastern Market / 7th & North Carolina Ave SE            435
14th & L St NW                                          435
11th & Kenyon St NW                                     427
Name: start_station_name, dtype: int64

In [22]:
# January - End station name
jan['end_station_name'].value_counts(ascending=False).head(60)

15th & P St NW                                         1326
New Hampshire Ave & T St NW                            1208
14th & V St NW                                         1057
1st & M St NE                                          1040
8th & O St NW                                           882
17th & Corcoran St NW                                   833
14th & R St NW                                          812
14th & Irving St NW                                     760
11th & M St NW                                          757
15th & W St NW                                          752
5th & K St NW                                           739
3rd & M St NE                                           725
Massachusetts Ave & Dupont Circle NW                    711
6th & H St NE                                           698
Eastern Market Metro / Pennsylvania Ave & 8th St SE     694
Thomas Circle                                           676
20th St & Florida Ave NW                                675
4th & M St SW                                           667
New Hampshire Ave & Ward Pl NW                          648
14th & Rhode Island Ave NW                              643
M St & Pennsylvania Ave NW                              609
22nd & I St NW / Foggy Bottom                           603
5th St & Massachusetts Ave NW                           599
1st & K St SE                                           592
4th St & K St NW                                        582
3rd & H St NE                                           580
Adams Mill & Columbia Rd NW                             570
California St & Florida Ave NW                          560
23rd & M St NW                                          548
14th & Belmont St NW                                    542
7th & T St NW                                           538
25th St & Pennsylvania Ave NW                           532
4th St & Madison Dr NW                                  529
18th & New Hampshire Ave NW                             526
Jefferson Dr & 14th St SW                               525
18th St & Wyoming Ave NW                                524
Columbus Circle / Union Station                         522
10th & Florida Ave NW                                   516
Lamont & Mt Pleasant NW                                 515
18th & R St NW                                          509
Lincoln Memorial                                        494
New Hampshire Ave & 24th St NW                          488
12th & L St NW                                          469
14th & L St NW                                          468
22nd & P ST NW                                          457
1st & Rhode Island Ave NW                               444
Park Rd & Holmead Pl NW                                 440
Convention Center / 7th & M St NW                       435
Potomac & M St NW                                       433
Henry Bacon Dr & Lincoln Memorial Circle NW             433
4th St & G St SW                                        432
Maine Ave & 7th St SW                                   431
15th & Euclid St  NW                                    425
Eastern Market / 7th & North Carolina Ave SE            420
11th & S St NW                                          415
14th & Q St NW                                          414
Connecticut Ave & R St NW                               409
Columbia & Ontario Rd NW                                409
20th & L St NW                                          403
4th & M St SE                                           403
Name: end_station_name, dtype: int64

In [24]:
last_week = pd.read_csv("last_week.csv")
last_week

     Unnamed: 0         day  hour member_type  count
0             0  2021-01-25     0      casual      4
1             1  2021-01-25     0      member      4
2             2  2021-01-25     1      casual      2
3             3  2021-01-25     1      member      4
4             4  2021-01-25     2      casual      3
..          ...         ...   ...         ...    ...
329         329  2021-01-31    21      member     15
330         330  2021-01-31    22      casual      9
331         331  2021-01-31    22      member     12
332         332  2021-01-31    23      casual      3
333         333  2021-01-31    23      member      7

[334 rows x 5 columns]

In [25]:
last_week.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   334 non-null    int64
 1   day          334 non-null    object
 2   hour         334 non-null    int64
 3   member_type  334 non-null    object
 4   count        334 non-null    int64
dtypes: int64(3), object(2)
memory usage: 13.2+ KB

In [29]:
# Last Week - value counts
last_week['count'].value_counts(ascending=False).head(10)

1     14
2     13
3     11
4     10
5      9
8      9
9      9
30     8
10     7
6      6
Name: count, dtype: int64

In [30]:
# last week - Kind of user
last_week['member_type'].value_counts(ascending=False)

casual    168
member    166
Name: member_type, dtype: int64

In [32]:
last_week['member_type'].value_counts(ascending=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   334 non-null    int64
 1   day          334 non-null    object
 2   hour         334 non-null    int64
 3   member_type  334 non-null    object
 4   count        334 non-null    int64
dtypes: int64(3), object(2)
memory usage: 13.2+ KB

In [55]:
last_week['day'].value_counts(ascending=False)

2021-01-25    48
2021-01-27    48
2021-01-30    48
2021-01-31    48
2021-01-26    48
2021-01-28    47
2021-01-29    47
Name: day, dtype: int64

In [56]:
last_week['hour'].value_counts(ascending=False)

23    14
22    14
1     14
2     14
4     14
5     14
6     14
7     14
8     14
9     14
10    14
11    14
12    14
13    14
14    14
15    14
16    14
17    14
18    14
19    14
20    14
21    14
0     14
3     12
Name: hour, dtype: int64

In [64]:
last_week['hour'].value_counts(ascending=False)

23    14
22    14
1     14
2     14
4     14
5     14
6     14
7     14
8     14
9     14
10    14
11    14
12    14
13    14
14    14
15    14
16    14
17    14
18    14
19    14
20    14
21    14
0     14
3     12
Name: hour, dtype: int64

In [45]:
last_week.groupby(by="day").min()

            Unnamed: 0  hour member_type  count
day
2021-01-25           0     0      casual      1
2021-01-26          48     0      casual      1
2021-01-27          96     0      casual      1
2021-01-28         144     0      casual      1
2021-01-29         191     0      casual      1
2021-01-30         238     0      casual      2
2021-01-31         286     0      casual      1

In [52]:
# Mean count member
print(last_week[last_week["member_type"]=="member"]["count"].mean())
# Mean count casual
print(last_week[last_week["member_type"]=="casual"]["count"].mean())

79.41566265060241
31.55952380952381

In [88]:
cas = last_week[last_week['member_type']=="casual"].groupby(by=["hour"]).sum()["count"]
cas

hour
0      53
1      30
2      22
3      12
4      23
5      26
6      71
7     119
8     202
9     201
10    200
11    332
12    382
13    461
14    496
15    550
16    518
17    474
18    382
19    239
20    166
21    133
22    126
23     84
Name: count, dtype: int64

In [90]:
working_days = last_week[last_week["day"]=="2021-01-25"],last_week[last_week["day"]=="2021-01-26"],last_week[last_week["day"]=="2021-01-27"],last_week[last_week["day"]=="2021-01-28"], last_week[last_week["day"]=="2021-01-28"]
working_days.dtype

(    Unnamed: 0         day  hour member_type  count
 0            0  2021-01-25     0      casual      4
 1            1  2021-01-25     0      member      4
 2            2  2021-01-25     1      casual      2
 3            3  2021-01-25     1      member      4
 4            4  2021-01-25     2      casual      3
 5            5  2021-01-25     2      member      2
 6            6  2021-01-25     3      casual      1
 7            7  2021-01-25     3      member      3
 8            8  2021-01-25     4      casual      3
 9            9  2021-01-25     4      member      2
 10          10  2021-01-25     5      casual      5
 11          11  2021-01-25     5      member     21
 12          12  2021-01-25     6      casual      8
 13          13  2021-01-25     6      member     60
 14          14  2021-01-25     7      casual     16
 15          15  2021-01-25     7      member    114
 16          16  2021-01-25     8      casual     37
 17          17  2021-01-25     8      member    172
 18          18  2021-01-25     9      casual     30
 19          19  2021-01-25     9      member    136
 20          20  2021-01-25    10      casual     29
 21          21  2021-01-25    10      member     93
 22          22  2021-01-25    11      casual     49
 23          23  2021-01-25    11      member    112
 24          24  2021-01-25    12      casual     43
 25          25  2021-01-25    12      member    151
 26          26  2021-01-25    13      casual     46
 27          27  2021-01-25    13      member    121
 28          28  2021-01-25    14      casual     53
 29          29  2021-01-25    14      member    132
 30          30  2021-01-25    15      casual     72
 31          31  2021-01-25    15      member    138
 32          32  2021-01-25    16      casual     52
 33          33  2021-01-25    16      member    205
 34          34  2021-01-25    17      casual     30
 35          35  2021-01-25    17      member    163
 36          36  2021-01-25    18      casual     11
 37          37  2021-01-25    18      member     80
 38          38  2021-01-25    19      casual     12
 39          39  2021-01-25    19      member     53
 40          40  2021-01-25    20      casual      9
 41          41  2021-01-25    20      member     38
 42          42  2021-01-25    21      casual      8
 43          43  2021-01-25    21      member     18
 44          44  2021-01-25    22      casual     10
 45          45  2021-01-25    22      member     16
 46          46  2021-01-25    23      casual     10
 47          47  2021-01-25    23      member      9,
     Unnamed: 0         day  hour member_type  count
 48          48  2021-01-26     0      casual      2
 49          49  2021-01-26     0      member      2
 50          50  2021-01-26     1      casual      2
 51          51  2021-01-26     1      member      1
 52          52  2021-01-26     2      casual      1
 53          53  2021-01-26     2      member      1
 54          54  2021-01-26     3      casual      1
 55          55  2021-01-26     3      member      2
 56          56  2021-01-26     4      casual      4
 57          57  2021-01-26     4      member      4
 58          58  2021-01-26     5      casual      1
 59          59  2021-01-26     5      member      9
 60          60  2021-01-26     6      casual      6
 61          61  2021-01-26     6      member     39
 62          62  2021-01-26     7      casual      6
 63          63  2021-01-26     7      member     55
 64          64  2021-01-26     8      casual     13
 65          65  2021-01-26     8      member     84
 66          66  2021-01-26     9      casual     19
 67          67  2021-01-26     9      member     69
 68          68  2021-01-26    10      casual     19
 69          69  2021-01-26    10      member     43
 70          70  2021-01-26    11      casual     30
 71          71  2021-01-26    11      member     59
 72          72  2021-01-26    12      casual     37
 73          73  2021-01-26    12      member     84
 74          74  2021-01-26    13      casual     30
 75          75  2021-01-26    13      member     95
 76          76  2021-01-26    14      casual     22
 77          77  2021-01-26    14      member     97
 78          78  2021-01-26    15      casual     50
 79          79  2021-01-26    15      member    101
 80          80  2021-01-26    16      casual     45
 81          81  2021-01-26    16      member    166
 82          82  2021-01-26    17      casual     52
 83          83  2021-01-26    17      member    191
 84          84  2021-01-26    18      casual     46
 85          85  2021-01-26    18      member    159
 86          86  2021-01-26    19      casual     32
 87          87  2021-01-26    19      member     98
 88          88  2021-01-26    20      casual     28
 89          89  2021-01-26    20      member     54
 90          90  2021-01-26    21      casual     14
 91          91  2021-01-26    21      member     36
 92          92  2021-01-26    22      casual     20
 93          93  2021-01-26    22      member     35
 94          94  2021-01-26    23      casual     12
 95          95  2021-01-26    23      member     21,
      Unnamed: 0         day  hour member_type  count
 96           96  2021-01-27     0      casual      7
 97           97  2021-01-27     0      member     12
 98           98  2021-01-27     1      casual      4
 99           99  2021-01-27     1      member      5
 100         100  2021-01-27     2      casual      2
 101         101  2021-01-27     2      member      1
 102         102  2021-01-27     3      casual      1
 103         103  2021-01-27     3      member      1
 104         104  2021-01-27     4      casual      4
 105         105  2021-01-27     4      member      7
 106         106  2021-01-27     5      casual      8
 107         107  2021-01-27     5      member     17
 108         108  2021-01-27     6      casual     17
 109         109  2021-01-27     6      member     80
 110         110  2021-01-27     7      casual     24
 111         111  2021-01-27     7      member    135
 112         112  2021-01-27     8      casual     52
 113         113  2021-01-27     8      member    158
 114         114  2021-01-27     9      casual     56
 115         115  2021-01-27     9      member    147
 116         116  2021-01-27    10      casual     36
 117         117  2021-01-27    10      member    114
 118         118  2021-01-27    11      casual     55
 119         119  2021-01-27    11      member    135
 120         120  2021-01-27    12      casual     50
 121         121  2021-01-27    12      member    170
 122         122  2021-01-27    13      casual     67
 123         123  2021-01-27    13      member    164
 124         124  2021-01-27    14      casual     82
 125         125  2021-01-27    14      member    154
 126         126  2021-01-27    15      casual     86
 127         127  2021-01-27    15      member    158
 128         128  2021-01-27    16      casual     91
 129         129  2021-01-27    16      member    222
 130         130  2021-01-27    17      casual    105
 131         131  2021-01-27    17      member    265
 132         132  2021-01-27    18      casual     95
 133         133  2021-01-27    18      member    226
 134         134  2021-01-27    19      casual     50
 135         135  2021-01-27    19      member    160
 136         136  2021-01-27    20      casual     27
 137         137  2021-01-27    20      member     91
 138         138  2021-01-27    21      casual     21
 139         139  2021-01-27    21      member     62
 140         140  2021-01-27    22      casual     18
 141         141  2021-01-27    22      member     45
 142         142  2021-01-27    23      casual     10
 143         143  2021-01-27    23      member     31,
      Unnamed: 0         day  hour member_type  count
 144         144  2021-01-28     0      casual      1
 145         145  2021-01-28     0      member      9
 146         146  2021-01-28     1      casual      5
 147         147  2021-01-28     1      member      6
 148         148  2021-01-28     2      casual      2
 149         149  2021-01-28     2      member      3
 150         150  2021-01-28     3      casual      1
 151         151  2021-01-28     4      casual      3
 152         152  2021-01-28     4      member      5
 153         153  2021-01-28     5      casual      3
 154         154  2021-01-28     5      member     20
 155         155  2021-01-28     6      casual     11
 156         156  2021-01-28     6      member     62
 157         157  2021-01-28     7      casual     22
 158         158  2021-01-28     7      member    122
 159         159  2021-01-28     8      casual     31
 160         160  2021-01-28     8      member    140
 161         161  2021-01-28     9      casual     28
 162         162  2021-01-28     9      member    114
 163         163  2021-01-28    10      casual     25
 164         164  2021-01-28    10      member     80
 165         165  2021-01-28    11      casual     44
 166         166  2021-01-28    11      member    106
 167         167  2021-01-28    12      casual     62
 168         168  2021-01-28    12      member    112
 169         169  2021-01-28    13      casual     50
 170         170  2021-01-28    13      member    100
 171         171  2021-01-28    14      casual     49
 172         172  2021-01-28    14      member    114
 173         173  2021-01-28    15      casual     60
 174         174  2021-01-28    15      member    139
 175         175  2021-01-28    16      casual     62
 176         176  2021-01-28    16      member    193
 177         177  2021-01-28    17      casual     70
 178         178  2021-01-28    17      member    196
 179         179  2021-01-28    18      casual     61
 180         180  2021-01-28    18      member    169
 181         181  2021-01-28    19      casual     28
 182         182  2021-01-28    19      member    114
 183         183  2021-01-28    20      casual     17
 184         184  2021-01-28    20      member     75
 185         185  2021-01-28    21      casual     15
 186         186  2021-01-28    21      member     41
 187         187  2021-01-28    22      casual     23
 188         188  2021-01-28    22      member     42
 189         189  2021-01-28    23      casual     10
 190         190  2021-01-28    23      member     22,
      Unnamed: 0         day  hour member_type  count
 144         144  2021-01-28     0      casual      1
 145         145  2021-01-28     0      member      9
 146         146  2021-01-28     1      casual      5
 147         147  2021-01-28     1      member      6
 148         148  2021-01-28     2      casual      2
 149         149  2021-01-28     2      member      3
 150         150  2021-01-28     3      casual      1
 151         151  2021-01-28     4      casual      3
 152         152  2021-01-28     4      member      5
 153         153  2021-01-28     5      casual      3
 154         154  2021-01-28     5      member     20
 155         155  2021-01-28     6      casual     11
 156         156  2021-01-28     6      member     62
 157         157  2021-01-28     7      casual     22
 158         158  2021-01-28     7      member    122
 159         159  2021-01-28     8      casual     31
 160         160  2021-01-28     8      member    140
 161         161  2021-01-28     9      casual     28
 162         162  2021-01-28     9      member    114
 163         163  2021-01-28    10      casual     25
 164         164  2021-01-28    10      member     80
 165         165  2021-01-28    11      casual     44
 166         166  2021-01-28    11      member    106
 167         167  2021-01-28    12      casual     62
 168         168  2021-01-28    12      member    112
 169         169  2021-01-28    13      casual     50
 170         170  2021-01-28    13      member    100
 171         171  2021-01-28    14      casual     49
 172         172  2021-01-28    14      member    114
 173         173  2021-01-28    15      casual     60
 174         174  2021-01-28    15      member    139
 175         175  2021-01-28    16      casual     62
 176         176  2021-01-28    16      member    193
 177         177  2021-01-28    17      casual     70
 178         178  2021-01-28    17      member    196
 179         179  2021-01-28    18      casual     61
 180         180  2021-01-28    18      member    169
 181         181  2021-01-28    19      casual     28
 182         182  2021-01-28    19      member    114
 183         183  2021-01-28    20      casual     17
 184         184  2021-01-28    20      member     75
 185         185  2021-01-28    21      casual     15
 186         186  2021-01-28    21      member     41
 187         187  2021-01-28    22      casual     23
 188         188  2021-01-28    22      member     42
 189         189  2021-01-28    23      casual     10
 190         190  2021-01-28    23      member     22)

In [ ]:
wine_sale_s[wine_sale_s['variety']=="Chardonnay"].groupby(by=["country"]).count().sort_values(by='variety', ascending=False).head(10)